 <div class="row" style="padding-top:40px;">
    <form class="col s12">
      <h5 style="text-align:center;color:#00a1de; ">Login</h5>
      
      <div class="row">
        <div class="input-field col s12">
          <input id="email" type="email" class="validate">
          <label for="email">Email</label>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s12">
          <input id="password" type="password" class="validate">
          <label for="password">Password</label>
        </div>
      </div>
	  <a class="waves-effect waves-light btn" style="float: right;   margin-right: 10px;">Submit</a>
    </form>
  </div>